@charset "UTF-8";

* { margin: 0px; padding: 0px; }
body { min-width: 1100px; height: 100%; }
div { display: block; }

/* HEADER ALL */
#main_all { position: relative; }

/* HEADER TOP */
#main_top { width: 60%; height: 20px; margin-bottom: 20px; padding-top: 8px; margin: 0 auto; clear: both; font-size: 11px; min-width: 1100px; }
#main_top li { list-style-type: none; display: inline; cursor: pointer; }

#main_top_leftUl { float: left; }
#main_top_rightUl { float: right; }

#mobileTable { border:1px solid orangered; position: absolute; }

/* HEADER CENTER */
#main_center { width: 60%; height: 100px; margin:0 auto; clear: both; font-size: 11px; min-width: 1100px; }
#main_center li { list-style-type: none; display: inline; cursor: pointer; }

#logo { float: left; margin: 10px 0px; }

#searchBox { float: left; margin: 30px 20px 43px 20px; }
#searchText { width: 250px; height: 35px; border:2px solid red; border-right: white; margin-right: -6px; outline: none;}
#searchButton { width: 35px; height: 35px; border:2px solid red; border-left: white; background-color:white; outline: none; }

#hotIssue { float: left; margin: 10px 20px 43px 20px; }

#main_center_rightUl { float: right; position:relative; top:20px; right:2px; margin: 20px 0px 48px 220px; }

#line { width:100%; border:1px solid red; margin: 0px 0px 10px 0px; }

/* HEADER BOTTOM */
#main_bottom { width:60%; height:20px; margin:0 auto; font-size:11pt; min-width: 1100px; }
#main_bottom li { list-style-type: none; display: inline; cursor: pointer; }

#category { float:left; margin: 0px 30px 9px 0px; cursor: pointer; }
#shoesType { margin:0px; padding:0px; float:left; }
#sportsShoes { margin-right:10px; }
#shoes { margin-right:10px; }
#sandal { margin-right:10px; }
#bottom_contents { margin:0px; padding:0px; float:right; }

#line2 { width:100%; border:1px solid lightgray; margin: 0px; padding: 0px; }

#categoryTable li { list-style-type: none; width: 100px; text-align: center; margin-bottom: 8px; font-size: 10pt;}
#categoryTable { border:1px solid orangered; position: absolute; z-index: 1; background-color: white; }
#categoryTable td { vertical-align: top; }
#categoryTable #shoesKinds { font-weight: bold; margin: 10px 0px 13px 0px; font-size: 10pt; }
#categoryTable #categoryAd { width: 270px; }
#categoryTable #categoryAdLi { width: 100px; text-align: center; margin: 10px 0px 10px 0px; }

#sportsShoesTable li { list-style-type: none; width: 100px; text-align: center; margin-bottom: 8px; font-size: 7pt; }
#sportsShoesTable { border:1px solid orangered; position: absolute; z-index: 1; background-color: white; }
#sportsShoesTable td { vertical-align: top; }
#sportsShoesTable #shoesKinds { font-weight: bold; font-size: 10pt; }

#shoesTable li { list-style-type: none; width: 100px; text-align: center; margin-bottom: 8px; font-size: 7pt; }
#shoesTable { border:1px solid orangered; position: absolute; z-index: 1; background-color: white; }
#shoesTable td { vertical-align: top; }
#shoesTable #shoesKinds { font-weight: bold; font-size: 10pt; }

#sandalTable li { list-style-type: none; width: 100px; text-align: center; margin-bottom: 8px; font-size: 7pt; }
#sandalTable { border:1px solid orangered; position: absolute; z-index: 1; background-color: white; }
#sandalTable td { vertical-align: top; }
#sandalTable #shoesKinds { font-weight: bold; font-size: 10pt; }

#bootsTable li { list-style-type: none; width: 100px; text-align: center; margin-bottom: 8px; font-size: 7pt; }
#bootsTable { border:1px solid orangered; position: absolute; z-index: 1; background-color: white; }
#bootsTable td { vertical-align: top; }
#bootsTable #shoesKinds { font-weight: bold; font-size: 10pt; }

#themeShopTable li { list-style-type: none; width: 60px; text-align: center; font-size: 7pt;font-weight: bold; margin-bottom: 5px; }
#themeShopTable { border:1px solid orangered; position: absolute; z-index: 1; background-color: white; }
#themeShopTable td { vertical-align: center; }
#themeShopTable ul { margin: 15px 0px; }

#brand_div { border:1px solid orangered; padding: 10px; position: absolute; z-index: 1; background-color: white; }

#brand_section1 { width: 1050px; }
#brandTable1 { padding: 10px; }
#brandTable1_name { width: 100px; font-size: 10pt; font-weight: bold; padding: 10px; }
#brandTable1_name li { list-style-type: none; }
#brandTable1_logo { width: 940px; }
#brandTable1_logo li { list-style-type: none; display: inline; padding: 3px; }

#brandTable_line { width:100%; border:0.5px dotted lightgray; margin: 0px; padding: 0px; }

#brandTable2 { float: left; padding: 10px; }
#brandTable2_name { width: 100px; font-size: 10pt; font-weight: bold; padding: 10px; }
#brandTable2_name li { width: 90px; list-style-type: none; }
#brandTable2_button1, #brandTable2_button2 li { list-style-type: none; }
#brandTable2_button1 { padding: 0px 0px 10px 10px; }
#brandTable2_button1 li { padding: 1px; }
#brandTable2_button1 button { width: 50pt; height: 15pt; background-color: white; border:0.5px solid #d2d2d2; color: #d2d2d2; font-size: 10pt; }
#brandTable2_button2 { padding: 0px 10px 10px 0px; }
#brandTable2_button2 li { padding: 1px; }
#brandTable2_button2 button { width: 50pt; height: 15pt; background-color: white; border:0.5px solid #d2d2d2; color: #d2d2d2; font-size: 10pt; }

#brandTable3 { float: left; padding: 10px; }
#brandTable3_name { width: 600px; font-size: 10pt; font-weight: bold; padding: 10px; }
#brandTable3_name li { list-style-type: none; padding: 0px; spacing: 0px; }
#brandTable3_korea { padding: 0px 10px 0px 10px; }
#brandTable3_korea li { list-style-type: none; display: inline; padding: 1px; }
#brandTable3_korea button { width: 15pt; height: 15pt; background-color: white; border:0.5px solid #d2d2d2; color: #d2d2d2; font-size: 10pt; }
#brandTable3_english { padding: 0px 10px 10px 10px; }
#brandTable3_english li { list-style-type: none; display: inline; padding: 1px; }
#brandTable3_english button { width: 15pt; height: 15pt; background-color: white; border:0.5px solid #d2d2d2; color: #d2d2d2; font-size: 10pt; }

#brandTable4 { float: left; padding: 10px; margin-left: 30px; }
#brandTable4_name { width: 150px; font-size: 10pt; font-weight: bold; }
#brandTable4_name li { list-style-type: none; padding: 10px 0px 10px 0px; spacing: 0px; }
#brandTable4_searchBox { padding: 10px 0px 10px 0px; }
#brandTable4_searchBox li { list-style-type: none; display: inline; }
#brandTable4_text { width: 100px; height: 30px; }
#brandTable4_button { width: 34px; height: 34px; background-color: red; color: white; border: 1px solid red; position: relative; top: 2px; }

#brand_section3 { width: 1050px; }
#brandTable5 { padding: 10px; }
#brandTable5_title { width: 1075px; font-size: 10pt; font-weight: bold; padding: 10px; }
#brandTable5_title li { list-style-type: none; padding: 0px; spacing: 0px; }
#brandTable5_brandBox { padding: 10px; }
#brandTable5_brand_ul { width: 1005px; height: 100px; overflow: auto; }
#brandTable5_brand_ul li { list-style-type: none; display: inline-block; width: 110px; text-align: center; margin: 5px; }
#brandTable5_brand_ul img { display:inline; padding: 0px; spacing: 0px; }
#brandTable5_brand_ul p { width: 108px; font-size: 8pt; font-weight: bold; padding: 0px; spacing: 0px; display:inline; }

#smartSearch_div { width: 1080px; height: 570px; margin: 0 auto; padding: 10px; z-index: 1; background-color: white; }
#smartSearch_title { text-align: center; font-size: 20pt; font-weight: bold; padding: 10px 0px; margin: 10px 0px; }
#smartSearch_line { width:100%; border:0.7px solid black; margin: 0px; padding: 0px; }

#smartSearch_brand_section { width: 500px; height: 250px; float: left; padding: 20px; margin-right: 30px; }
#smartSearchTable1_brandTitle { font-size: 10pt; font-weight: bold; padding: 10px 0px; margin: 0px; }
#smartSearchTable1 { padding: 0px 0px 20px 0px; }
#smartSearchTable1_brand_ul { width: 510px; height: 200px; overflow: auto; display: inline-block; border-top: 1px solid lightgray; border-bottom: 1px solid lightgray; }
#smartSearchTable1_brand_ul li { width: 110px; display: inline; }
#smartSearchTable1_brand_ul img { display:inline; padding: 5px; }

#smartSearch_category_section_out { float: left; padding: 20px; height: 250px; }
#smartSearch_category_section_out h4 { font-size: 10pt; font-weight: bold; padding: 10px 0px; margin: 0px; }
#smartSearch_category_section_in { float: left; width: 480px; height: 200px; overflow: auto; border-top: 1px solid lightgray; border-bottom: 1px solid lightgray; }
#smartSearchTable2 { padding: 20px; }
#smartSearchTable2_categoryTable_sportsShoes_img { width: 260px; font-size: 8pt; font-weight: bold; text-align: center; }
#smartSearchTable2_categoryTable_sportsShoes_list { width: 190px; font-size: 8pt; text-align: left; vertical-align: center; }
#smartSearchTable2_categoryTable_sportsShoes_list li { list-style-type: none; }

#smartSearchTable2_categoryTable_shoes_img { width: 260px; font-size: 8pt; font-weight: bold; text-align: center; }
#smartSearchTable2_categoryTable_shoes_list { width: 190px; font-size: 8pt; text-align: left; vertical-align: bottom; }
#smartSearchTable2_categoryTable_shoes_list li { list-style-type: none; }

#smartSearchTable2_categoryTable_sandal_img { width: 260px; font-size: 8pt; font-weight: bold; text-align: center; }
#smartSearchTable2_categoryTable_sandal_list { width: 190px; font-size: 8pt; text-align: left; vertical-align: center; }
#smartSearchTable2_categoryTable_sandal_list li { list-style-type: none; }

#smartSearchTable2_categoryTable_boots_img { width: 260px; font-size: 8pt; font-weight: bold; text-align: center; }
#smartSearchTable2_categoryTable_boots_list { width: 190px; font-size: 8pt; text-align: left; vertical-align: bottom; }
#smartSearchTable2_categoryTable_boots_list li { list-style-type: none; }

#smartSearch_themeNprice_section { float: left; width: 370px; height: 80px; padding: 10px 20px; }

#smartSearch_theme_section { width: 300px; padding: 10px 0px; }
#smartSearch_theme_section h4 { width: 40px; float: left; font-size: 10pt; font-weight: bold; }
#smartSearch_theme_section button { margin-top: 5px; width: 35pt; height: 14pt; background-color: white; border:0.5px solid #c0c0c0; color: #c0c0c0; font-size: 8pt; vertical-align: top; }

#smartSearch_price_section { width: 300px; font-size: 10pt; font-weight: bold; vertical-align: top; padding: 10px 0px; }
#smartSearch_price_section h4 { width: 40px; float: left; font-size: 10pt; font-weight: bold; }
#smartSearch_price_section #startPrice { margin-top: 5px; width: 90px; vertical-align: top; }
#smartSearch_price_section #endPrice { margin-top: 5px; width: 90px; vertical-align: top; }

#smartSearch_size_section { width: 640px; height: 80px; padding: 10px 20px; font-size: 10pt; font-weight: bold; float: left; }
#smartSearch_size_section h4 { width: 55px; font-size: 10pt; font-weight: bold; padding-top: 10px;  float: left; }
#smartSearch_size_section table { padding: 10px; float: left; margin-top: 15px; }
#smartSearch_size_section button { width: 33pt; height: 14pt; border:0.5px solid #c0c0c0; margin: 3px 3px; font-size: 8pt; background-color: white; vertical-align: top; }

#smartSearch_color_section { width: 715px; height: 20px; padding: 15px 20px; float: left; margin-top: 20px; }
#smartSearch_color_section h4 { width: 40px; font-size: 10pt; font-weight: bold; float: left; }
#smartSearch_color_table { float: left; }
#smartSearch_color_section button { width: 33pt; height: 14pt; border:0.5px solid #c0c0c0; margin: 0px 5px; }
#smartSearch_color_section #color_pink { margin-top: 7px; background-color: pink; }
#smartSearch_color_section #color_red { margin-top: 7px; background-color: red; }
#smartSearch_color_section #color_orange { margin-top: 7px; background-color: orange; }
#smartSearch_color_section #color_yellow { margin-top: 7px; background-color: yellow; }
#smartSearch_color_section #color_lightgreen { margin-top: 7px; background-color: lightgreen; }
#smartSearch_color_section #color_green { margin-top: 7px; background-color: green; }
#smartSearch_color_section #color_skyblue { margin-top: 7px; background-color: skyblue; }
#smartSearch_color_section #color_blue { margin-top: 7px; background-color: blue; }
#smartSearch_color_section #color_purple { margin-top: 7px; background-color: purple; }
#smartSearch_color_section #color_white { margin-top: 7px; background-color: white; }
#smartSearch_color_section #color_black { margin-top: 7px; background-color: black; }

#smartSearch_select_section { margin-top: 10px; width: 715px; height:20px; padding: 15px 20px; float: left; }
#smartSearch_select_section h4 { width: 90px; font-size: 10pt; font-weight: bold; float: left; }
#smartSearch_select_div { margin-top: 5px; width: 517px; height:20px; float: left; }
#smartSearch_select_button { margin-top: 5px; width: 45pt; height: 14pt; border: 1px solid #bfbfbf;  background-color: white; }

#smartSearch_search_section { width: 340px; height: 80px; padding: 15px 20px; float: left; ; margin-top: 10px; }
#smartSearch_search_section button { width: 125px; height: 25px; background-color: red; color: white; border: 1px solid #bfbfbf; }

