<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberSQL">

	<select id="isExistId" parameterType="String" resultType="member">
		select * from member where id = #{id} 
	</select>	
	<select id="getZipcodeList" parameterType="java.util.Map" resultType="member.bean.ZipcodeDTO">
		select * from newzipcode 
			where sido = #{sido} 
				and nvl(sigungu,' ') like '%'||#{sigungu}||'%' 
					and roadname like '%'||#{roadname}||'%'
	</select>
</mapper>